#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo img {
  max-width: min(600px, 80vw);
  height: auto;
  display: block;
  margin: 2em auto;
}

.logo.narrow img {
  max-width: min(300px, 40vw);
  margin: 2rem auto 3rem;
}

.status {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.button {
  border-radius: 999px;
  border: 1px solid transparent;
  padding: 0.9em 1.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.25s;
  display: inline-flex;
  align-items: center;
  line-height: 1;
}
.button:hover {
  opacity: 0.8;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.board-container {
  position: relative;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
  color: #000000;
}

.cell {
  display: flex;
  border: 0.5vw solid currentColor;
  width: 25vw;
  height: 25vw;
}

.cell:nth-child(-n+3) {
  border-top: none;
}

.cell:nth-child(n+7) {
  border-bottom: none;
}

.cell:nth-child(3n+1) {
  border-left: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

/** Utility classes */

.pulse {
  animation: pulse 2s cubic-bezier(.4,0,.6,1) infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}