.player {
  opacity: 0.4;
}

.player.active {
  opacity: 1;
}

.player .piece {
  display: inline-block;
  height: 1.16em;
  margin-left: 0.25em;
  transform: scale(0.8);
  vertical-align: sub;
  width: 1.16em;
}

.player .avatar {
  height: 4rem;
  width: 4rem;
}